.conatiner{
    font-size: 1.5rem;
    background-color: white;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1.5rem;
    box-shadow: 0.5px 0.5px 10px lightblue;
}

input{
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}


.btn{
    padding: 0.7rem 2rem;
    align-items: center;
    background-color: black;
    color: white;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8%;
}